{% extends "index.html" %}

{% block content %}
<div class="btn-group"">
  <div style="padding-left:5px; padding-top:5px;">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Country ranking
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'rank_all' id_session=now_id_session %}">Overall ranking</a>
    <a class="dropdown-item" href="{% url 'rank_category' id_session=now_id_session %}">Category rankings</a>
    <a class="dropdown-item" href="{% url 'rank_ESG' id_session=now_id_session %}">ESG rankings</a>
    <a class="dropdown-item" href="{% url 'rank_SDG' id_session=now_id_session %}">SDG rankings</a>
  </div>
</div>
  <div style="padding-left:5px; padding-top:5px;">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Country summary
  </button>
  <div class="dropdown-menu">
    {% for iso, value in countries.items %}
    <a class="dropdown-item" href="{% url 'country_info' id_session=now_id_session iso=iso%}">{{value}}</a>
    {% endfor%}
  </div>
</div>
  <div style="padding-left:5px; padding-top:5px;">
  <a class="btn btn-outline-primary" name = 'country_comparison' href="{% url 'country_comparison' id_session=now_id_session %}"> Countries comparison </a>
  </div>
  <div style="padding-left:5px; padding-top:5px;">
  <a class="btn btn-outline-primary" name = 'country_valuation' href="{% url 'country_valuation' id_session=now_id_session %}"> Countries valuation </a>
</div>
</div>

<div style="max-width:50vw; padding:2%;">
<table class="table table-sm" >
  <thead>
    <tr>
      <th scope="col">Measure</th>
      <th scope="col">Unit</th>
      <th scope="col">Value</th>
      <th scope="col">Rank</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for iso, value in data.items%}
    <tr>
      <th scope="row">GDP per capita</th>
      <td>US$</td>
      <td>{{value.GDPPerCapita}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Overall ranking</th>
      <td></td>
      <td>{{value.Overall_ranking}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Estimated ranking based on GDP per capita</th>
      <td></td>
      <td>{{value.Estimated_ranking}}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>

      <th scope="row">Ranking vs expected</th>
      <td></td>
      <td>{{value.vs}}</td>
      <td></td>
      <td></td>
    </tr>
    {% endfor %}
    {% for iso, value in data.items %}
      {% for category, val in value.items %}
        {% if category == 'Capital' or category == 'Labour' or category == 'Productivity' or category == 'Fiscal' or category == 'Risks' %}
          {% for metr_name, metr_data in val.items %}
          <tr>
            <th scope="row">{{metr_data.name}}</th>
            <td>{{metr_data.unit}}</td>
            <td>{{metr_data.value}}</td>
            <td>{{metr_data.rank}}%</td>
            <td>
              <div class="progress" style="min-width:15vw;">
              <div class="progress-bar" role="progressbar" style="width: {{metr_data.rank}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{metr_data.rank}}%</div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        {% endfor %}
    {% endfor %}
    {% for iso, value in data.items %}
      {% for category, val in value.items %}
        {% if category == 'position'%}
          {% for cat, cat_data in val.items %}
          <tr>
            <th scope="row">{{cat}}</th>
            <td></td>
            <td></td>
            <td>{{cat_data}}%</td>
            <td>
              <div class="progress" style="min-width:15vw;">
              <div class="progress-bar" role="progressbar" style="width: {{cat_data}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{cat_data}}%</div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        {% endfor %}
    {% endfor %}
    {% for iso, value in data.items %}
      {% for category, val in value.items %}
        {% if category == 'mark_rang'%}
          {% for mark, mark_data in val.items %}
          <tr>
            <th scope="row">{{mark}}</th>
            <td></td>
            <td></td>
            <td>{{mark_data}}%</td>
            <td>
              <div class="progress" style="min-width:15vw;">
              <div class="progress-bar" role="progressbar" style="width: {{mark_data}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{mark_data}}%</div>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        {% endfor %}
    {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
